
/* General Style */
a:link {text-decoration:underline; color:#4D6D91;}
a:visited {text-decoration:underline; color:#4D6D91;}
a:hover {text-decoration:underline; color:#000000;}
a:active {text-decoration:underline; color:#000000;}

td, body {font-family:Verdana,Arial,Helvetica; font-size:11px;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:Verdana,Arial,Helvetica;}
.copy {font-size:10px;}

a.noun:link {text-decoration:none; color:#4D6D91}
a.noun:visited {text-decoration:none; color:#4D6D91}
a.noun:hover {text-decoration:underline; color:#000000}

hr {color:#A9B8C2;height:1px;}
label {cursor:pointer;cursor:hand}

.blockTitle,.menu1 {color:#445588;text-transform:uppercase;font-size:9px;font-family:Tahoma,Verdana;}

a.menu1:link {text-decoration:none; color:#445588}
a.menu1:visited {text-decoration:none; color:#445588}
a.menu1:hover {text-decoration:underline; color:#445588}

.topBorder {border-left:1px solid #A9B8C2; border-right:1px solid #A9B8C2;}
.topMenu {border:1px solid #A9B8C2; padding:2px;}
/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 13px; background: url('/.s/t/121/14.gif') no-repeat 3px 4px; margin-bottom: .6em;}
/* ----- */

/* Site Menus */
.uMenuH li {float:left;padding:0 5px;}


.uMenuV .uMenuItem {font-family:Tahoma,Arial,Helvetica;}
.uMenuV li a:link {text-decoration:none; color:#4D6D91}
.uMenuV li a:visited {text-decoration:none; color:#4D6D91}
.uMenuV li a:hover {text-decoration:underline; color:#4D6D91;}
.uMenuV li a:active {text-decoration:underline; color:#4D6D91;}

.uMenuV a.uMenuItemA:link {text-decoration:underline; color:#4D6D91}
.uMenuV a.uMenuItemA:visited {text-decoration:underline; color:#4D6D91}
.uMenuV a.uMenuItemA:hover {text-decoration:underline; color:#4D6D91;}
.uMenuV .uMenuArrow {position:absolute;width:10px;height:10px;right:0;top:3px;background:url('/.s/img/wd/1/ar1.gif') no-repeat 0 0;}
.uMenuV li {margin: 0 2 0 0px; padding: 0 0 2 13px; background: url('/.s/t/121/14.gif') no-repeat 3px 4px; margin-bottom: .3em;}
/* --------- */

/* Module Part Menu */
.catsTd {padding: 0 0 3px 12px; background: url('/.s/t/121/14.gif') no-repeat 2px 4px;}
.catName {font-family:Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNameActive {font-family:Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNumData {font-size:7pt;color:#4D6D91;}
.catDescr {font-size:7pt;}
a.catName:link {text-decoration:none; color:#4D6D91;}
a.catName:visited {text-decoration:none; color:#4D6D91;}
a.catName:hover {text-decoration:underline; color:#4D6D91;}
a.catName:active {text-decoration:underline; color:#4D6D91;}
a.catNameActive:link {text-decoration:underline; color:#4D6D91;}
a.catNameActive:visited {text-decoration:underline; color:#4D6D91;}
a.catNameActive:hover {text-decoration:underline; color:#4D6D91;}
a.catNameActive:active {text-decoration:underline; color:#4D6D91;}
/* ----------------- */

/* Entries Style */
.eBlock {}
.eTitle {font-family:Tahoma,Arial,Sans-Serif;font-size:12px;font-weight:bold;color:#4D6D91; padding: 0 0 0 18px; background: url('/.s/t/121/15.gif') no-repeat 0px 1px;}
.eMessage {text-align:justify;padding-bottom:5px;}
.eText {text-align:justify;padding-bottom:5px;padding-top:5px;border-top:1px dashed #A9B8C2;font:9pt;}

.eDetails {border-top:1px dashed #A9B8C2;border-bottom:1px dashed #A9B8C2;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:7pt;}
.eDetails1 {border-top:1px dashed #A9B8C2;border-bottom:1px dashed #A9B8C2;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}
.eDetails2 {border-bottom:1px dashed #A9B8C2;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}

.eRating {font-size:7pt;}
.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('/.s/t/121/16.gif') no-repeat 0px 0px;}
/* --------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#FF0000;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}
.cBlock1 {border:1px solid #A9B8C2;background:#FFFFFF;}
.cBlock2 {border:1px solid #A9B8C2;background:#FFFFFF;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#000000;}
.commTd2 {}
.commFl {width:100%;}
.smiles {border:1px inset;background:#F7F7F7;}
.commReg {padding: 10px 0 10px 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {}
/* ------------------- */

/* News/Blog Archive Menu */
.archUl {list-style: none; margin:0; padding-left:0;}
.archLi {padding: 0 0 3px 10px; background: url('/.s/t/121/17.gif') no-repeat 0px 4px;}
.archActive {text-decoration:underline;}
.archLi {font-family:Tahoma,Arial,Sans-Serif;font-size:11px;}
a.archLink:link {text-decoration:none; color:#4D6D91;}
a.archLink:visited {text-decoration:none; color:#4D6D91;}
a.archLink:hover {text-decoration:underline; color:#4D6D91;}
a.archLink:active {text-decoration:underline; color:#4D6D91;}
/* ---------------------- */

/* News/Blog Archive Style */
.archiveCalendars {text-align:center;color:#0000FF;}
.archiveDateTitle {font-weight:bold;color:#4D6D91;padding-top:15px;}
.archEntryHr {width:250px;color:#DDDDDD;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('/.s/t/121/18.gif') no-repeat 0px 3px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#4D6D91}
a.archiveDateTitleLink:visited {text-decoration:none; color:#4D6D91}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#4D6D91}
a.archiveDateTitleLink:active {text-decoration:underline; color:#4D6D91}
.archiveNoEntry {text-align:center;color:#0000FF;}
/* ------------------------ */

/* News/Blog Calendar Style */
.calMonth {text-align:right;}
.calWday {border:1px solid #A9B8C2; background:#E9ECF5; width:17px;}
.calWdaySe {border:1px solid #A9B8C2; background:#E9ECF5; width:17px; font-weight:bold;}
.calWdaySu {border:1px solid #A9B8C2; background:#E9ECF5; width:17px; font-weight:bold; color:#FF0000;}
.calMday {border:1px solid #A9B8C2; background:#F4F4F4;}
.calMdayA {border:1px solid #A9B8C2; background:#F4F4F4; font-weight:bold;}
.calMdayIs {border:1px solid #A9B8C2; background:#E9ECF5;}
.calMdayIsA {border:1px solid #A9B8C2; background:#E9ECF5;font-weight:bold;}
a.calMonthLink:link {text-decoration:none; color:#4D6D91;}
a.calMonthLink:visited {text-decoration:none; color:#4D6D91;}
a.calMonthLink:hover {text-decoration:underline; color:#4D6D91;}
a.calMonthLink:active {text-decoration:underline; color:#000000;}
a.calMdayLink:link {text-decoration:underline; color:#4D6D91;}
a.calMdayLink:visited {text-decoration:underline; color:#4D6D91;}
a.calMdayLink:hover {text-decoration:underline; color:#000000;}
a.calMdayLink:active {text-decoration:underline; color:#000000;}
/* ------------------------ */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#FFFFFF}
.textResults {background:#E2E6EA}
.textResultsTd {background:#FFFFFF}

.pollNow {border-bottom:1px solid #E2E6EA; border-left:1px solid #E2E6EA; border-right:1px solid #E2E6EA;}
.pollNowTd {}

.totalVotesTable {border-bottom:1px solid #E2E6EA; border-left:1px solid #E2E6EA; border-right:1px solid #E2E6EA;}
.totalVotesTd {background:#FFFFFF}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:blue;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:green;}
/* ---------------- */

/* Other Styles */
.replaceTable {background:#F4F4F4;height:100px;width:300px;border:1px solid #A9B8C2;}
.legendTd {font-size:7pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:#A9B8C2}
.gTableTop {padding:2px;background:#E4E8F3;color:#445588;text-transform:uppercase;font-size:9px;font-family:Tahoma,Verdana;height:21px;text-align:center;font-weight:bold;background-image: url('/.s/t/121/20.gif');}
.gTableSubTop {padding:2px;background:#F4F4F4;color:#000000;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:#F4F4F4;}
.gTableBody1 {padding:2px;background:#FFFFFF;}
.gTableBottom {padding:2px;background:#F4F4F4;}
.gTableLeft {padding:2px;background:#F4F4F4;font-weight:bold;color:#737373}
.gTableRight {padding:2px;background:#F4F4F4}
.gTableError {padding:2px;background:#F4F4F4;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#FFFFFF}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:#F4F4F4}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:none; color:#445588;}
a.catLink:visited {text-decoration:none; color:#445588;}
a.catLink:hover {text-decoration:underline; color:#445588;}
a.catLink:active {text-decoration:underline; color:#445588;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:normal;}
.archivedForum{font-size:7pt;color:#FF0000;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:11px;}
.forumDescr,.forumModer {color:#888888;font-size:9px;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#4D6D91;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#4D6D91;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:underline; color:#6F8EB3;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#4D6D91;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {font-size:11px;font-family:Tahoma,Arial;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#000000;}
a.forumBarA:visited {text-decoration:none; color:#000000;}
a.forumBarA:hover {text-decoration:underline; color:#4D6D91;}
a.forumBarA:active {text-decoration:underline; color:#4D6D91;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {color:#445588;}
.fastNavCat {background:#F2F2F2;}
.fastNavCatA {background:#F2F2F2;}
.fastNavForumA {}
/* -------------------------- */

/* forum Page switches */
.pagesInfo {background:#FFFFFF;font-size:7pt;}
.switches {background:#A9B8C2;}
.switch {background:#FFFFFF;width:15px;font-size:7pt;}
.switchActive {background:#F4F4F4;font-weight:bold;color:#4D6D91;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#000000;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#000000;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#FF0000;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#FF0000;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#FFFFFF}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:#F4F4F4}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#888888;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#F4F4F4;height:25px;font-weight:bold;font-size:7pt;color:#4D6D91;padding-left:40px;}
.threadsDetails {padding:2px;background:#F4F4F4;height:25px;color:#444444;}
.forumOnlineBar {padding:2px;background:#F4F4F4;height:25px;color:#444444;}

a.threadLink:link,a.threadPinnedLink:link  {text-decoration:none; color:#4D6D91;}
a.threadLink:visited,a.threadPinnedLink:visited {text-decoration:none; color:#4D6D91;}
a.threadLink:hover,a.threadPinnedLink:hover {text-decoration:underline; color:#000000;}
a.threadLink:active,a.threadPinnedLink:active {text-decoration:underline; color:#000000;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* forum Posts View */
.postTable {background:#EFEFEF;}
.postPoll {background:#F4F4F4;}
.postFirst {background:#FFFFFF;}
.postRest1 {background:#FFFFFF;}
.postRest2 {background:#FFFFFF;}
.postSeparator {height:2px;background:#D2D2D2;}

.postTdTop {background:#F4F4F4;height:20px;border-bottom:1px solid #A9B8C2;}
.postBottom {background:#F4F4F4;height:20px;border-top:1px solid #A9B8C2;}

.postUser {font-weight:bold;font-family:Tahoma,Arial;}
.postTdInfo {text-align:center;padding:5px;background:#FFFFFF;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#A9B8C2;}
.posttdMessage {padding:5px;background:#FFFFFF;}

.pollQuestion {text-align:center;font-weight:bold;} 
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#FFFFFF;font-size:9px;}
.quoteMessage {background:#FFFFFF;font-size:9px;}

.signatureView {font-size:7pt;}
.edited {padding-top:30px;font-size:7pt;text-align:right;color:gray;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#0000FF;}
.statusOffline {color:#FF0000;}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('/.s/t/121/14.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('/.s/t/121/14.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* forum Post Form */
.codeButtons {font-size:7pt;background:#FFFFFF;border:1px solid #A9B8C2;}
.codeCloseAll {font-size:7pt;color:#737373;font-weight:bold;background:#FFFFFF;border:1px solid #A9B8C2;}
.postNameFl,.postDescrFl {width:400px}
.postPollFl,.postQuestionFl {width:400px}
.postResultFl {width:50px}
.postAnswerFl {width:300px}
.postTextFl {width:550px;height:150px}
.postUserFl {width:300px}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* ----------------- */

/* ====== forum End ====== */
